.FundingRankTable_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: black;
    color: white;

}
.fundingTableTitle {
    background-color: black;
    font-size: 40px;
}

.tableFunding {
    color: white;
    width: 100%;
}